header {
    padding-top: 50px;
    background-color: #014E56;
}

.nav-nav {
    background-color: #014E56 !important;
}

main {
    background-color: #014E56;
    padding-bottom: 50px;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.section1 {
    padding-top: 150px;
    background-image: url(/svg/Group\ 8\ \(4\).svg);
    background-repeat: no-repeat;
    background-position: top 150px left 0;
}

.input {
    width: 100%;
    margin-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #014E56;
    color: white;
}

.quality-text {
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

.forms {
    line-height: 50px;
    width: 100%;
    max-width: 600px;
    /* border: 1px solid red; */
}

.contact-all {
    width: 100%;
    max-width: 600px;
    
}

.quality-list {
    width:100%;
    max-width: 420px;
}

.contact-title {
    font-size: 50px;
    color: white;
}

.ask-text {
    font-size: 30px;
    color: #F67E7E;
}

.textarea-text {
    width: 100%;
    max-height: 100px;
    background-color: #014E56;
    border-top: none;
    border-left: none;
    border-right: none;
}
    
.section-button-link {
    font-weight: bolder;
    width: 100%;
    max-width: 150px;
    border-radius: 50px;
    border: none;
}

footer {
    padding: 50px 0;
    background-color: #002529;
}

.myteam-text {
    color: white;
}

.myteam-link {
    text-decoration: none;
    color: white;
}

.list-link {
    width: 100%;
    max-width: 200px;
    text-decoration: none;
    color: white;
}

.footer-icon-all {
    color: white;
}